<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <nav>
        <a href="/home">Home</a>
        <a href="">About Xavi</a>
        <a href="/work">Work</a>
        <a href="/photogallery">Photo Gallery</a>
    </nav>
    
    <h1>About Xavi hernandez</h1>
    <div>
        <p>Xavier Hernández Creus (Tarrasa, Barcelona, España, 25 de enero de 1980), conocido como Xavi, es un exfutbolista y entrenador español, actualmente dirige al F. C. Barcelona de la Primera División de España. Ha ganado 32 trofeos en su carrera, lo que lo convierte en el tercer jugador español más laureado de la historia.</p>
        <img src="images/Xavi_Hernández1.jpg" />
    </div>
    <!-- <a href="/home">Quieres conocerme?</a>
    <script src="js/javascript.js"></script> -->
</body>

</html>