<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About Xavi</a>
        <a href="">Work</a>
        <a href="/photogallery">Photo Gallery</a>
    </nav>
    
    <h1>Work</h1>
    <h2>FC Barcelona player</h2>
    <div>
        <img src="images/Xavi_Hernández1.jpg" />
        <p>Xavi ocupó el tercer lugar en el premio FIFA World Player del 2009, seguido del tercer lugar por su premio sucesor, el FIFA Balón de Oro, en 2010 y 2011. En 2011, fue finalista para el Premio al Mejor Jugador de la UEFA en Europa. Fue galardonado como el Mejor Creador de juego del Mundo por la IFFHS cuatro veces, todas seguidas entre 2008 y 2011. Fue incluido en el FIFA FIFPro World XI en seis ocasiones: 2008 a 2013, y en el Equipo del Año de la UEFA cinco veces: 2008 a 2012. Forma parte del selecto grupo de ocho jugadores que ha logrado en dos ocasiones el triplete en Europa (2009 y 2015), esto es, ganar en un mismo año los títulos de liga, copa nacional y el máximo título continental. También logró el sextete (2009) o, lo que es lo mismo, ganar seis títulos de manera consecutiva en una misma temporada y el triplete de selecciones (2008-2012) o ganar tres torneos internacionales de manera consecutiva.</p>
    </div>
    <h2>FC Barcelona coach</h2>
    <div>
        <img src="images/xavihernandez.webp" />
        <p>Sus distinciones van también más allá del fútbol, ​​ya que en 2012 recibió la máxima distinción deportiva española, el Premio Príncipe de Asturias de los Deportes. Después de retirarse, Xavi pasó a ser entrenador y fue nombrado entrenador del club Al Sadd de la Qatar Stars League en mayo de 2019, donde ganó siete títulos en menos de tres años. En noviembre de 2021, Xavi fue nombrado entrenador de su antiguo club, el Barcelona.</p>
    </div>
</body>

</html>